/* CSS default */

:root {
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fs-6xl: 3.75rem;
    --fs-7xl: 4.5rem;
    --fs-8xl: 6rem;
    --fs-9xl: 8rem;
    --p-color: #e80c14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

button, input{
    border: none;
    outline: none;
    color: white;
    background: transparent;
}

h1,h2,h3,p{
    color: #ffffff;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */

.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('./Images/Background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Navbar */
.header__navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header__logo{
    width: 200px;
}

.btn{
    background-color: var(--p-color);
    padding: 0.7rem 1.3rem;
    border-radius: 4px;
    font-size: var(--fs-base);
    font-weight: 600;
    cursor: pointer;
}

/* Header__Content */

.header__content{
    width: 100%;
    height: calc(100vh - 100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__h1{
    font-size: var(--fs-6xl);
    margin-bottom: 2rem;
}

.header__h3{
    font-size: var(--fs-3xl);
    margin-bottom: 2rem;
}

.header__p{
    font-size: var(--fs-xl);
    margin-bottom: 3rem;
}

.sign-up__form{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%;
    margin-inline: auto;
}

.sign-up__form input{
    flex: 1;
    margin-left: 20px;
    font-size: var(--fs-base);
    color: #000000;
    font-weight: 600;
}

.getstarted-btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 1rem 2rem;
}

/* Features */

.features{
    padding: 2rem;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.content-col,.img-col{
    flex-basis: 50%;
}

.content-col h2{
    font-size: var(--fs-6xl);
}

.content-col p{
    margin-top: 2rem;
    font-size: var(--fs-4xl);
    line-height: 2.5rem;
}

/* Footer */

.footer{
    padding: 4rem;
    font-size: var(--fs-2xl);
}

.footer a{
    color: grey;
    text-decoration: underline;
}

.footer__a{
    gap: 2rem;
    border: 1px solid red;
}

.footer__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-self: center;
    justify-content: center;
    gap: 2rem;
}

.footer__list ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Media Queries */

@media screen and (max-width: 950px){

    /* Header */
    .header__logo{
        width: 150px;
    }

    .signin-btn{
        padding: .5rem 1rem;
        font-size: var(--fs-sm);
    }

    .header__h1{
        font-size: var(--fs-5xl);
    }

    .header__h3{
        font-size: var(--fs-2xl);
    }

    .header__p{
        font-size: var(--fs-lg);
    }

    /* Features */
    .row{
        flex-direction: column;
    }

    .row:nth-child(2),.row:nth-child(4){
        flex-direction: column-reverse;
    }

    .content-col,.img-col{
        flex-basis: 100%;
    }

    .content-col{
        text-align: center;
    }

    .content-col h2{
        font-size: var(--fs-5xl);
    }

    .content-col p{
        font-size: var(--fs-2xl);
    }

    /* footer */
    .footer{
        font-size: var(--fs-xl);
    }

    .footer__list{
        grid-template-columns: repeat(3,1fr);
    }

}

/* For 550px screens */

@media screen and (max-width: 424px){
    /* Header */

    .header__logo{
        width: 100px;
    }

    .signin-btn{
        font-size: var(--fs-xs);
    }

    .header__h1{
        font-size: var(--fs-4xl);
    }

    .header__h3{
        font-size: var(--fs-xl);
    }

    .header__p{
        font-size: var(--fs-sm);
    }

    .sign-up__form input{
        font-size: var(--fs-xs);
    }
    
    .getstarted-btn{
        font-size: var(--fs-xs);
        padding: 0.8rem 1rem;
    }

    

    /* Features */

    .content-col h2{
        font-size: var(--fs-4xl);
    }

    .content-col p{
        font-size: var(--fs-lg);
    }


    /* footer */
    .footer{
        font-size: var(--fs-lg);
    }

    .footer__list{
        grid-template-columns: repeat(2,1fr);
    }
}